[Unit]
Description=Hello Service

[Service]
;User=root
ExecStart=/usr/local/monitor/main.py
;Type=simple
WorkingDirectory=/usr/local/monitor
Restart=always

[Install]
WantedBy=multi-user.target
